@import "mixins";
@import "variables";

.aside {
  position: absolute;
  top: 19%;
  right: 10.5%;

  .items {
    .item,
    .item__odd {
      position: relative;
      background-color: rgba($dark-gray, 0.34);
      width: 225px;
      margin-bottom: 24px;
      @include border-radius(20px);
      padding: 16px 46px 16px 20px;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        right: 1px;
        padding: 1px;
        @include border-radius(20px);
        background: $gradient-blue-to-green;
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        opacity: 0.2;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .item__person {
        @include items-center;
        margin-bottom: 16px;

        h5 {
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          @include text-white;
          padding-left: 20px;
          text-transform: uppercase;

          span {
            @include text-white(0.4);
            line-height: 20px;
            font-weight: 500;
            text-transform: lowercase;
          }
        }
      }

      p {
        font-size: 18px;
        line-height: 115%;
        color: white;
      }
    }
  }
}

.item__odd {
  margin-left: 110px;
}

@media screen and (max-width: 320px) {
  .aside {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .aside {
    display: none;
  }
}
